/* 4 way = top right bottom left, 2 way = top bottom left right*/
a.navlink {
    color: #D8D8D8;
    text-decoration: none;}
a.sitelink {
    color:#D8D8D8;
    font-size: calc(1px + 0.7vw);
    line-height: calc(5px + 1vh);}
a.sitelink:visited {color:#f1c24e;}
a:hover {color:#f1c24e;}
audio {display: block; 
    margin: auto; 
    max-width: 1000px;
    padding: 0% 15%;
    width: 70%;}
body {
    background-color: #181818;
    font-family: "Times New Roman", Times, serif;
    font-size: calc(3px + 1vw);
    line-height: calc(1px + 1vh);
    margin: auto;
    max-width: 2000px;
    padding: 0% 15%;
    color: #D8D8D8}
div.text-hold {
    background-color: #434343;
    border: 1px solid #434343; 
    margin: 3.5% 1%;
    padding: 2%; 
    font-size: calc(7px + 0.5vw); 
    box-sizing: border-box;}
footer {text-align: center;}
h1 {font-size: calc(1.5px + 2.1vw);}
h2 {font-size: calc(0.1px + 1.7vw);}
header {
    line-height: calc(1px + 1vh); 
    padding: 2% 5%;}
iframe {height: 600px;
    width: 100%;}
img.center {display: block; 
    margin: auto; 
    max-width: 1000px;
    padding: 1% 15%;
    width: 70%;}
li.navi {
    display: inline; 
    padding: 1.5%;}
main {
    background-color: #181818;
    line-height: calc(5px + 3vh);
    padding: 1vh 8vw 1vh 8vw;}
nav {
    list-style-type: none; 
    margin: auto; 
    text-align: center;}
span.span-bold {font-weight: bold;}
span.span-italic {font-style: italic;}
p.center {text-align: center;}
p.samples {
    text-align: center;
    text-decoration: underline;}
p.spacer {margin-bottom: calc(5px + 5vh);}
.headings {
    font-variant: small-caps;
    text-align: center;}
.top {
    background-color: #181818;
    border: 1px solid #D8D8D8;
    font-variant: small-caps;
    text-align: center;}
.sitetop {
    background-color: #181818;
     border: 1px 0px solid #181818; 
    font-variant: small-caps;
     text-align: center;}
#flex-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin:auto; 
    padding:auto; 
    width:100%;}
#flex-item2 {align-self: auto;}
#foot {
    color: #D8D8D8;
    text-decoration: none;}
#foot:hover {color: #D8D8D8;}
#sitename {font-size: calc(3px + 3vw);}
#sitetag {font-size: calc(1.5px + 1.7vw);}