/* 4 way = top right bottom left, 2 way = top bottom left right*/
a.navlink {
    color: #043a81;
    text-decoration: none;}
a.sitelink {
    color:#043a81;
    font-size: calc(1px + 0.7vw);
    line-height: calc(5px + 1vh);}
a.sitelink:visited {color:#0f93e3;}
a:hover {color:#0f93e3;}
audio {display: block; 
    margin: auto; 
    max-width: 1000px;
    padding: 1% 15%;
    width: 70%;}
body {
    background-color: #b0d5f7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(2px + 1vw);
    line-height: calc(1px + 1vh);
    margin: auto;
    max-width: 1000px;
    padding: 1% 15%;
    color: #043a81}
div.text-hold {
    background-color: #f0f8ff;
    border: 2px solid #043a81; 
    margin: 3.5% 5%;
    padding: 2%; 
    font-size: calc(5px + 0.5vw); 
    box-sizing: border-box;}
footer {text-align: center;}
h1 {font-size: calc(1.5px + 2.1vw);}
h2 {font-size: calc(0.1px + 1.7vw);}
header {
    line-height: calc(1px + 1vh); 
    padding: 2% 5%;}
iframe {height: 600px;
    width: 100%;}
img.center {display: block; 
    margin: auto; 
    max-width: 1000px;
    padding: 1% 15%;
    width: 70%;}
li.navi {
    display: inline; 
    padding: 1.5%;}
main {
    background-color: #ddedfd;
    border: 2px solid #043a81;
    line-height: calc(2px + 3vh);
    padding: 0 8vw 1vh 8vw;}
nav {
    list-style-type: none; 
    margin: auto; 
    text-align: center;}
span.span-bold {font-weight: bold;}
span.span-italic {font-style: italic;}
p.center {text-align: center;}
p.samples {
    text-align: center;
    text-decoration: underline;}
p.spacer {margin-bottom: calc(5px + 5vh);}
.headings {
    font-variant: small-caps;
    text-align: center;}
.flex-space {align-self: auto;
    border: 2px dotted #043a81;
    margin: 2%;
    padding: 2%;
    width:100%;}
.top {
    background-color: #ddedfd;
    border: 2px solid #043a81; 
    font-variant: small-caps;
    text-align: center;}
#flex-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin:auto; 
    padding:auto; 
    width:100%;}
#flex-item2 {align-self: auto;}
#foot {
    color: #043a81;
    text-decoration: none;}
#foot:hover {color: #043a81;}
#sitename {font-size: calc(3px + 3vw);}
#sitetag {font-size: calc(1.5px + 1.7vw);}